.demo_info {
	font-size: 1.2em;
	text-align: left;
	width: 45%;
}

body { text-align: left; margin-left: 20px;}

h1, .demo{ text-align: center;}

.demo_info_2 {
	font-size: 1.2em;
	text-align: left;
	width: 55%;
}

a {color: #ffffff;}
